/* General */
:root{
    --main-color: #5a67af;
    --main-color-hover: #404c8d;
}

*{
    font-family: 'Didact Gothic', sans-serif;
    font-size: 17px;
}

body{
    background-color: #f8f8f8 !important;
}

label{
    font-weight: 600;
}

/* Navbar */
.navbar{
    background-color: var(--main-color);
}

/* Title */
.title{
    font-weight: 600;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 26px !important;
    cursor: pointer;
}

.logo{
    margin-right: 5px;
}

/* Header Content */
.content h1{
    font-weight: 600;
}

.content p{
    font-size: 22px;
}

/* Cards */
.card{
    border: 1px solid rgb(241, 241, 241) !important;
}

.card-header{
    background-color: var(--main-color) !important;
}

.card h5{
    font-weight: 600;
    color: #FFF;
    font-size: 1.1rem;
    text-transform: uppercase;
    margin-top: 5px;
}

.total-customers,
.last-customer,
.active-customers,
.inactive-customers{
    font-weight: 600;
    font-size: 18px;
}

/* Alert Not Result */
.not_result_message{
    font-weight: 600;
    text-align: center;
}

/* Filter */
.form-select{
    border: 1px solid rgb(241, 241, 241) !important;
}

/* Button Export */
.btn-export-excel{
    background-color: rgb(13, 129, 104);
    color: #FFF;
    padding: 8px;
    border-radius: 5px;
    border: none;
    font-weight: 600;
    text-decoration: none;
    margin-bottom: 20px;
}

.btn-export-excel:hover{
    background-color: rgb(12, 100, 81);
    transition: .5s all ease;
}

/* Table */
thead{
    background-color: var(--main-color);
}

tbody{
    background-color: #FFF;
}

.profile-min{
    width: 24px;
    height: 24px;
}

.state{
    background-color: var(--main-color);
    color: #FFF;
    font-size: 13px;
    font-weight: 700;
    padding: 3px 5px 3px 5px;
    border-radius: 5px;
    cursor: pointer;
}

.state:hover{
    background-color: var(--main-color-hover);
    transition: .5s all ease;
}

/* Buttons */
.btn-add-customer,
.btn-save-customer,
.btn-edit-profile{
    background-color: var(--main-color);
    color: #FFF;
    padding: 8px;
    border-radius: 5px;
    border: none;
    font-weight: 600;
    text-decoration: none;
    margin-bottom: 20px;
}

.btn-add-customer:hover,
.btn-save-customer:hover,
.btn-edit-profile:hover{
    background-color: var(--main-color-hover);
    transition: .5s all ease;
    color: #FFF;
}

.add-icon{
    margin-right: 5px;
}

.btn-view,
.btn-edit,
.btn-delete{
    text-decoration: none;
    background-color: #fff;
    border: 1px solid rgb(231, 231, 231);
    border-radius: 5px;
    padding: 4px 8px 4px 8px;
    margin-right: 5px;
}

.btn-view:hover,
.btn-edit:hover,
.btn-delete:hover{
    color: #FFF;
    background-color: rgb(236, 236, 236);
    transition: .5s all ease;
}

/* Footer */
.author{
    text-decoration: none;
    font-weight: 600;
}

/* Info Customer */
.customer-info label{
    text-transform: uppercase;
}